<h1>this is a demo product page with no CSS/styles/beautification. It's meant to be a checkout page 
    for this prodcut/car.
</h1>
<p>Title: <%= theCar.title%></p>
<p>Description: <%= theCar.description%></p>
<p>Make: <%= theCar.make%></p>
<p>Model: <%= theCar.model%></p>
<p>Year: <%= theCar.year%></p>
<p>Color: <%= theCar.color%></p>
<p>Price: <%= theCar.price%></p>
<button>Buy now</button>
<img src="<%= theCar.image %>" alt="">
